<ion-view title="nueva localidad">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Direccion:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Descripcion:</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div class="button-bar">
            <button class="button button-positive   icon-right ion-edit">editar</button>
            <button class="button button-balanced   icon-right ion-android-upload">guardar</button>
        </div>
    </ion-content>
</ion-view>