<ion-view title="Iniciar sesion">
    <ion-content padding="'true'" style="background: url(img/TpIqQ03VQzansUF0h0wb_valle-de-luna-chile-1230.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 300px; height: 152px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Usuario:</span>
                <input type="text" placeholder="Usuario">
            </label>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <label class="item item-input">
                <span class="input-label">Clave:</span>
                <input type="password" placeholder="Clave">
            </label>
        </form>
        <button class="button button-assertive button-block  icon-right ion-arrow-right-b">Ingresar</button>
        <a menu-close="" href="#/registrar" class="button button-stable button-clear button-block ">Crear cuenta</a>
    </ion-content>
</ion-view>