<ion-view title="Registro">
    <ion-content padding="'true'" style="background: url(img/Q6zmQsLfTbOU9PWg8qNJ_valle-de-luna-chile-1230.jpg) no-repeat center;" scroll="false" class="has-header">
        <form class="list">
            <div class="spacer" style="width: 300px; height: 54px;"></div>
            <ion-list></ion-list>
            <form class="list"></form>
            <label class="item item-input">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="nombre">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-input">
                <span class="input-label">Mail:</span>
                <input type="email" placeholder="mail">
            </label>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <label class="item item-input">
                <span class="input-label">Clave:</span>
                <input type="password" placeholder="clave">
            </label>
            <div class="spacer" style="width: 300px; height: 19px;"></div>
            <button class="button button-assertive button-block  icon-right ion-ios-personadd">Registrarse</button>
        </form>
    </ion-content>
</ion-view>